
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
        }

        header {
            background: linear-gradient(90deg, black, darkblue, blue,cyan);
            color: white;
            text-align: center;
            padding: 30px 20px;
            animation: gradientShift 10s infinite alternate;
        }
        
        header img {
             max-width: 200px;
              margin-top: 10px;
        }

        header img {
            max-width: 200px;
            margin-top: 10px;
        }

        nav {
            background-color: black;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 14px 20px;
            display: block;
        }

        nav ul li a:hover {
            background-color: #575757;
            border-radius: 4px;
        }

        main {
            max-width: 1000px;
            margin: 30px auto;
            padding: 0 20px;
            text-align: center;
        }

        main h2 {
            margin-bottom: 20px;
        }

        main p {
            margin-bottom: 20px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 15px 0;
            margin-top: 30px;
        }